$white:    #FFFFFF;
$black:    #000000;
$yellow:   #FFB802;
$red:      #E74C3C;
$gray:     #E5E5E5;
$gray-1:  #F9F9F9;
$gray-2:   #929292;
$grey-1:   #292e36;
$grey-2:   #24282e;
$grey-3:   #1e232b;
$grey-4:   #1A1E24;
