p{
    color: $black;
    font-size: 14px;
    line-height: 18px;
}
.text-white{
    color:$white;
}
.text-yellow{
    color: $yellow;
}
.text-gray{
    color: $gray;
}
.text-gray-2{
    color: $gray-2;
}
.text-red{
    color:$red;
}
.text-title{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $gray;
}

.font-weight-700{
    font-weight: 700;
}


// font size
@for $fs from 1 to 100 {
    .f-#{$fs} {
      font-size:$fs+px; 
    }  
}  

// line-height
@for $ls from 1 to 100 {
    .lh-#{$ls} {
        line-height:$ls+px; 
    }
}  